doctype
html(lang="es" ng-app="test-culqi")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Test culqi")
        meta(name="keywords" content="")
        meta(name="author" content="Juan Carlos Contreras Meneses")
        meta(name="robots" content="")

        title Sistema de Ventas

        link(rel="shortcut icon" href="images/logo.ico")
        link(rel="stylesheet" type="text/css" href="libs/normalize/normalize.css")
        link(rel="stylesheet" type="text/css" href="libs/bootstrap/css/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="css/styles-dist.css")

    body
        div(class="main_container")
            
            block header
                

            main(ng-view)

            block footer
                

        script(type="text/javascript" src="libs/jquery/jquery-dist.js")
        script(type="text/javascript" src="libs/bootstrap/js/bootstrap.min.js")
        script(type="text/javascript" src="libs/angular/angular-dist.js")
        script(type="text/javascript" src="libs/angular/angular_route-dist.js")
        script(type="text/javascript" src="libs/angular/angular-pagination.js")
        script(type="text/javascript" src="./js/app-dist.js")
    